
    <body>


<nav class="navbar navbar-expand-md bg-body-light border-bottom  border border-3 fixed-top sticky-top bg-white " >
 
  
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hand Creaft Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Store
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mobiles</a></li>
              <li><a class="dropdown-item" href="#">Electronices</a></li>
              <li><a class="dropdown-item" href="#">Groccery</a></li>
              <li><a class="dropdown-item" href="#">Men Store</a></li>
              <li><a class="dropdown-item" href="#">Women Store</a></li>
            
              <li><a class="dropdown-item" href="#">Beauty Product</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About As</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-user"></i>Login</button> &nbsp;&nbsp;
          <button class="btn btn-outline-success" type="submit">Register</button>
        </form>
      </div>
    </div>
  </nav>

        
</body>