<style>
    .navbar{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        
        box-shadow: 0 3px 5px 0 rgba(146, 232, 222, 0.24);
        background-color: black;
        color: white;
        
      
    }
    .nav i{
        margin: 10px;
        font-weight: 300;
    }
    .nav-sec{
       margin-top: 15px;
       
    }
    .nav-icon i{
        margin: 6px;
        font-size: 20px;
    }
    .nav-icon i:hover{
        color: #ff6f61;
    }
   
</style>




<div class="navbar ">
<div class="nav mt-1" >
<i class="fa-solid fa-phone">(225) 555-0118</i>
<i class="fa-solid fa-envelope">&nbsp;&nbsp;forplacement90@gmail.com</i>
</div>

<div class="nav-sec ">
<p>Follow Us and get a chance to win 80% off</p>
</div>

<div class="nav-icon">
 <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
</div>
</div>