<% layout("/layouts/boilerplate") %>
<style>
    .card2{
        display: flex;
        flex-wrap: wrap;
        margin: 6px;

    }
    .card{
    
        border: 1px solid black;
        margin: 6px;
        
    }
   
   
</style>
<div class="card2">
    <div class="card" style="width: 18rem;">
        <img src="https://aws-obg-image-lb-5.tcl.com/content/dam/brandsite/region/europe/products/tv/c-series/c735/product-image/43c735/TCL_43_C73_GTV_FRONT.jpg" class="card-img-top" alt="no image">
        <div class="card-body">
          <h5 class="card-title">TCL S5500AF 79.97 cm (32 inch) Full HD LED Smart Android TV 2024 Edition with Metallic Bezel Less and Chromecast built-in  (32S5500AF)</h5>
          <p class="card-text"><b>&#8377;10,990</b></p>
          <p class="card-text">Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube
            Operating System: Android
            Resolution: Full HD 1920 x 1080 Pixels
            Sound Output: 24 W
            Refresh Rate: 60 Hz
            </p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
      
        <div class="card" style="width: 18rem;">
            <img src="https://rukminim2.flixcart.com/image/416/416/xif0q/television/8/t/7/-original-imah54he2tgcr5yz.jpeg?q=70&crop=false" class="card-img-top" alt="no image">
            <div class="card-body">
              <h5 class="card-title">realme TechLife CineSonic Q 80 cm (32 inch) QLED HD Ready Smart Google TV 40 W Speaker  (32HDGQRVS2Q)</h5>
              <p class="card-text"><b>&#8377;19,999</b></p>
              <p class="card-text">Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube
                Operating System: Google TV
                Resolution: HD Ready 1366 x 768 Pixels
                Sound Output: 40.0 W
                Refresh Rate: 60 Hz
                </p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
         
            <div class="card" style="width: 18rem;">
                <img src="https://tse2.mm.bing.net/th?id=OIP.27jrPAgONymkf6N5hyfLMAAAAA&pid=Api&P=0&h=220" class="card-img-top" alt="no image">
                <div class="card-body">
                  <h5 class="card-title">MOTOROLA 10 kg 5 star rating Midnight Series Semi Automatic Top Load Washing Machine Black  (MTSA1005NNNDB)</h5>
                  <p class="card-text"><b>&#8377;10,699</b></p>
                  <p class="card-text">Semi Automatic Top Load
                    1350 rpm : Higher the spin speed, lower the drying time
                    5 Star Rating
                    10 kg
                    </p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
              
                <div class="card" style="width: 18rem;">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.arigCVHv_QOybidUplbxRAHaHa&pid=Api&P=0&h=220" class="card-img-top" alt="no image">
                    <div class="card-body">
                      <h5 class="card-title">SAMSUNG 8 kg Fully Automatic Front Load Washing Machine with In-built Heater Black, Grey  (WW80T504DAX1TL)</h5>
                      <p class="card-text"><b>&#8377;34,990</b></p>
                      <p class="card-text">Fully Automatic Front Load Washing Machines have Great Wash Quality with very less running cost
                        1400 rpm : Higher the spin speed, lower the drying time
                        5 Star Rating
                        8 kg
                        </p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
                
                    <div class="card" style="width: 18rem;">
                        <img src="http://www.pngall.com/wp-content/uploads/2016/04/AC-Free-PNG-Image.png" class="card-img-top" alt="no image">
                        <div class="card-body">
                          <h5 class="card-title">MarQ by Flipkart 0.75 Ton 3 Star Split Inverter AC - White  (073IPG24WQV2, Copper Condenser)</h5>
                          <p class="card-text"><b>&#8377;29,999</b></p>
                          <p class="card-text">0.75 Ton
                            3 Star BEE Rating 2025 : For energy savings upto 15% (compared to Non-Inverter 1 Star)
                            Auto Restart: No need to manually reset the settings post power-cut
                            Copper : Energy efficient, best in class cooling with easy maintenance.
                            Sleep Mode: Auto-adjusts the temperature to ensure comfort during your sleep
                            </p>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                     
                        <div class="card" style="width: 18rem;">
                            <img src="https://tse2.mm.bing.net/th?id=OIP.Cypl4___meAW-X-J0FtoBQHaDE&pid=Api&P=0&h=220" class="card-img-top" alt="no image">
                            <div class="card-body">
                              <h5 class="card-title">Godrej 5-In-1-Convertible Cooling 1.4 Ton 3 Star Split Inverter Heavy Duty Cooling At Extreme Temperature AC - White  (EI 17TINV3R32 RYQ, Copper Condenser)</h5>
                              <p class="card-text"><b>&#8377;29,990</b></p>
                              <p class="card-text">1.4 Ton
                                3 Star BEE Rating 2024 : For energy savings upto 15% (compared to Non-Inverter 1 Star)
                                Auto Restart: No need to manually reset the settings post power-cut
                                Copper : Energy efficient, best in class cooling with easy maintenance.
                                </p>
                              <a href="#" class="btn btn-primary">Buy Now</a>
                            </div>
                          </div>
                         
                            <div class="card" style="width: 18rem;">
                                <img src="https://tse2.mm.bing.net/th?id=OIP.gPrZZxTBHUwmgsPjp9gljwAAAA&pid=Api&P=0&h=220" class="card-img-top" alt="no image">
                                <div class="card-body">
                                  <h5 class="card-title">SAMSUNG 183 L Direct Cool Single Door 4 Star Refrigerator with Base Drawer with Digital Inverter  (Camellia Purple, RR20C1824CR/HL)</h5>
                                  <p class="card-text"><b>&#8377;16,990</b></p>
                                  <p class="card-text">183 L : Good for couples and small families
                                    Digital Inverter Compressor
                                    4 Star : For Energy savings up to 45%
                                    Direct Cool : Economical, consumes less electricity, requires manual defrosting
                                    Base Stand with Drawer : For storing items that don't need cooling (Onion, Potato etc.)
                                    </p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>  

</div>