<% layout("/layouts/boilerplate") %>

<style>
    .card-section{
            margin: 8px;
            display: flex;
            flex-wrap: wrap;
        }
        .card{
            margin: 16px;
        }
    
</style>
<body>
    


<p class="text-center mb-4">Featured product</p>
     <h2 class="text-center mb-4">Best Seller Products</h2>
     <p class="text-center mb-4">Problem trying to solve conflict Product </p>
     <div class="card-section">

     <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

       
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
</body>