

<style>
    .card-section{
            margin: 8px;
            display: flex;
            flex-wrap: wrap;
        }
        .card{
            margin: 16px;
        }
    
</style>
<body>
    
 <div class="sec-part">

     <p class="text-center mb-4">Featured product</p>
     <h2 class="text-center mb-4">Best Seller Products</h2>
     <p class="text-center mb-4">Problem trying to solve conflict Product </p>
     <div class="card-section">

     <div class="card" style="width: 18rem;">
        <img src="https://cdna.lystit.com/photos/tessuti/d342edb6/adidas-originals-Green-California-Short-Sleeve-T-shirt.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/q/b/u/xl-8062-xl-elite-elegance-apparel-original-imah5z9yzwh32bqp.jpeg?q=70" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PUMPA</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Men Printed Clothes</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://tse2.mm.bing.net/th?id=OIP.R7yMLQ3i-8neOLUBhWGGqAHaJo&pid=Api&P=0&h=220" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MONTE CARLO</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Printed T-shirt Lifgt Blue T-shirt</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://cdnc.lystit.com/photos/1504-2014/05/24/2xist-white-3-pack-essential-crew-neck-t-shirt-product-1-20301306-2-039824322-normal.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

       
      <div class="card" style="width: 18rem;">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/d74ea693051577.5e5b07d8be173.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ADIDAS In SMU MEN Printed  Polo Neck</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

        
      <div class="card" style="width: 18rem;">
        <img src="https://tse3.mm.bing.net/th?id=OIP.rK9_5OhgniYqYXSFXSjEnAHaOr&pid=Api&P=0&h=220" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">HIGHLANDER</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Men Colorblock Polo Neck Cotton Blend Multicolor T-shirt</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;899</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

 
      <div class="card" style="width: 18rem;">
        <img src="https://tse2.mm.bing.net/th?id=OIP.YOUHQU3HcRcpoBnaBfrUjgHaE5&pid=Api&P=0&h=220" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">U.S. POLO ASSAN</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Men Solid Polo Neck pure Cotton</li>
          <li class="list-group-item"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"><i class="fa-regular fa-star"></i></i></li>
          <li class="list-group-item">&#8377;799</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    </div>
</body>