<% layout("/layouts/boilerplate") %>
<style>
    .card2{
        display: flex;
        flex-wrap: wrap;
        margin: 6px;
    }
    .card{
        margin: 15px;
        border: 1px solid black;
        
    }
</style>
<div class="card2">
<div class="card" style="width: 18rem;">
    <img src="https://fscl01.fonpit.de/devices/64/3264.png" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">REDMI Note 13 Pro 5G (Midnight Black, 128 GB)  (8 GB RAM)</h5>
      <p class="card-text"><b>&#8377;19,999</b></p>
      <p class="card-text">8 GB RAM | 128 GB ROM
        16.94 cm (6.67 inch) Display
        200MP (OIS) + 8MP + 2MP | 16MP Front Camera
        5100 mAh Battery
        7s Gen 2 Mobile Platform 5G Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://tse2.mm.bing.net/th?id=OIP.RnYzri1b-7Q--gaJuEQcBQHaHa&pid=Api&P=0&h=220" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">REDMI Note 14 Pro+ 5G (Spectre Blue, 512 GB)  (12 GB RAM)</h5>
      <p class="card-text"><b>&#8377;21,999</b></p>
      <p class="card-text">2 GB RAM | 512 GB ROM
        16.94 cm (6.67 inch) Display
        50MP + 50MP + 8MP | 20MP Front Camera
        6200 mAh Battery
        7s Gen 3 Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://tse3.mm.bing.net/th?id=OIP.dsPAeMknrwtLdyFJmwQ0egHaI8&pid=Api&P=0&h=220" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">OPPO K12x 5G with 45W SUPERVOOC Charger In-The-Box (Feather Pink, 128 GB)  (6 GB RAM)</h5>
      <p class="card-text"><b>&#8377;14,999</b></p>
      <p class="card-text">6 GB RAM | 128 GB ROM | Expandable Upto 1 TB
        16.94 cm (6.67 inch) HD Display
        32MP + 2MP | 8MP Front Camera
        5100 mAh Battery
        Dimensity 6300 Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://tse2.mm.bing.net/th?id=OIP.x8fijT2dtfF86VvoYute1QHaHa&pid=Api&P=0&h=220" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">OPPO Reno 12 Pro 5G (Space Brown, 256 GB)  (12 GB RAM)</h5>
      <p class="card-text"><b>&#8377;25,999</b></p>
      <p class="card-text">12 GB RAM | 256 GB ROM | Expandable Upto 1 TB
        17.02 cm (6.7 inch) Full HD+ Display
        50MP + 8MP + 50MP | 50MP Front Camera
        5000 mAh Battery
        Dimensity 7300 Energy Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://tse4.mm.bing.net/th?id=OIP.1FfdiXChNtjfXzlrRsWs_gHaJ4&pid=Api&P=0&h=220" class="card-img-top" alt="no image">
    <div class="card-body">
      <h5 class="card-title">Google Pixel 7a (Charcoal, 128 GB)  (8 GB RAM)</h5>
      <p class="card-text"><b>&#8377;49,999</b></p>
      <p class="card-text">8 GB RAM | 128 GB ROM
        15.49 cm (6.1 inch) Full HD+ Display
        64MP (OIS) + 13MP | 13MP Front Camera
        4300 mAh Battery
        Tensor G2 Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn1.smartprix.com/rx-iGsIm0WF1-w1200-h1200/GsIm0WF1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Google Pixel 8a (Bay, 128 GB)  (8 GB RAM)</h5>
      <p class="card-text"><b>&#8377;79,999</b></p>
      <p class="card-text">8 GB RAM | 128 GB ROM
        15.49 cm (6.1 inch) Full HD+ Display
        64MP + 13MP | 13MP Front Camera
        4404 mAh Battery
        Tensor G3 Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-f05.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SAMSUNG Galaxy F05 (Twilight Blue, 64 GB)  (4 GB RAM)</h5>
      <p class="card-text"><b>&#8377;12,999</b></p>
      <p class="card-text">4 GB RAM | 64 GB ROM | Expandable Upto 1 TB
        17.12 cm (6.74 inch) HD+ Display
        50MP + 2MP | 8MP Front Camera
        5000 mAh Battery
        Helio G85 Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://tse1.mm.bing.net/th?id=OIP.tYXsp1IkpXtSujLy4234zQHaJc&pid=Api&P=0&h=220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 16 (Pink, 128 GB)</h5>
      <p class="card-text"><b>&#8377;69,999</b></p>
      <p class="card-text">128 GB ROM
        15.49 cm (6.1 inch) Super Retina XDR Display
        48MP + 12MP | 12MP Front Camera
        A18 Chip, 6 Core Processor Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6525/6525396_sd.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 15 (Blue, 128 GB)</h5>
      <p class="card-text"><b>&#8377;80,999</b></p>
      <p class="card-text">128 GB ROM
        15.49 cm (6.1 inch) Super Retina XDR Display
        48MP + 12MP | 12MP Front Camera
        A16 Bionic Chip, 6 Core Processor Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6487/6487386_sd.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple iPhone 14 Pro (Starlight, 128 GB)</h5>
      <p class="card-text"><b>&#8377;1,21,999</b></p>
      <p class="card-text">128 GB ROM
        15.49 cm (6.1 inch) Super Retina XDR Display
        12MP + 12MP | 12MP Front Camera
        A15 Bionic Chip, 6 Core Processor Processor</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  
</div>